@charset "UTF-8";

.container {
  width: 1400px;
  margin: 0 auto 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  box-sizing: border-box;
}
