@charset "UTF-8";

body {
  margin: 0px;
}

header {
  background: rgb(246, 245, 239);
  border-top: 1px solid black;
}

header > .container:after {
  content: "";
  display: block;
  clear: both;
}

header > .container > a > img {
  float: left;
  width: 80px;
  height: 80px;
  margin: 30px 0 29px 0;
}

header .container .submenu {
  position: absolute;
  right: 25px;
}

header .container .submenu ul {
  margin-top: 10px;
  display: flex;
}

header .container .submenu ul li {
  margin-right: 10px;
  font-size: 13px;
  padding: 0 20px 0 0;
  border-right: 1px solid #e7e7e6;
  color: #d8d8d3;
  padding-top: 5px;
}

header .container .submenu ul li:nth-child(5) {
  border: none;
}

header .container .submenu ul li:nth-child(5) a {
  padding: 10px;
  background-color: #ffffff;
  font-size: 16px;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: -5px;
  margin-right: -20px;
}

header .container .submenu ul li a:hover {
  text-decoration: underline;
}
header .container .submenu ul li a {
  color: black;
}

/*



메인메뉴 */
header .container .mainmenu {
  float: right;
  margin: 30px 0 0 0;
}

header .container .mainmenu ul li {
  float: left;
  font-size: 14px;
}

header .container .mainmenu ul li a {
  padding: 20px 23px 52px 23px;
  color: black;
  display: block;
}

header .container .mainmenu ul li a:first-child(1) {
  padding: 20px 0px 52px 23px;
}
header .mainmenu ul li a:hover {
  background: #2c2a29;
  text-decoration: underline;
  color: #669900;
}

main > .new_drink {
  background-color: #f4e7c7;
  position: relative;
  width: 100%;
}

main .new_drink .container:after {
  content: "";
  display: block;
  clear: both;
  height: 500px;
}

main .new_drink .container .left #slogon {
  margin-top: 80px;
}
main .new_drink .container .left a {
  position: absolute;
  top: 330px;
  left: 0px;
  border: 3px solid #3a62ad;
  padding: 10px 36px 10px 36px;
  font-size: 18px;
  color: #3a62ad;
}

main .new_drink .container .right_img #peach {
  position: absolute;
  top: 100px;
  left: 550px;
}

main .new_drink .container .right_img #coconut {
  position: absolute;
  top: 260px;
  right: -70px;
}

main .new_drink .container .right_img #waffle {
  position: absolute;
  top: 150px;
  left: 180px;
}
main .new_drink .container .right_img #chocolate {
  position: absolute;
  top: 350px;
  right: 80px;
}

main .notice {
  background-color: #f5f4ef;
}
main .notice .notice_left {
  background-color: black;
  display: inline-block;
  width: 56%;
  height: 60px;
  color: white;
  position: relative;
  border: 1px solid blue;
}

main .notice .notice_left img {
  float: left;
  margin: 20px 0 0 210px;
  width: 60px;
}

main .notice .notice_left h3 {
  margin: 20px 0px 0 290px;
  font-size: 13px;
  display: block;
  border: none;
}

main .notice .notice_left .btn {
  position: absolute;
  top: 8px;
  right: 20px;
}
main .notice .notice_left .btn a {
  font-size: 40px;
  font-family: "xcion";
}

main .notice .notice_right {
  display: inline-block;
  width: 42%;
  height: 60px;
}
main .notice .notice_right a {
  display: black;
  margin-left: 200px;
}
main .notice .notice_right a h2 {
  color: black;
  font-size: 17px;
  display: inline-block;
}
main .notice .notice_right a img {
  color: black;
  width: 35px;
  margin-bottom: -10px;
  margin-left: 60px;
}

/* 

콩 */
main .bean {
  background-color: #c9e4f7;
  position: relative;
}

main .bean .container:after {
  content: "";
  display: block;
  clear: both;
}
main .bean .container .bean_pic {
  display: inline-block;
}
main .bean .container .bean_pic img {
  margin: 40px 0 32px 160px;
}

main .bean .bean_comment {
  float: right;
  margin: 110px 30px 95px 0;
}
main .bean .bean_comment h1 {
  color: #309ce7;
  font-size: 20px;
  letter-spacing: -2spx;
  margin-bottom: 10px;
}
main .bean .bean_comment h2 {
  color: #0854cb;
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

main .bean .bean_comment h4 {
  font-size: 20px;
  width: 450px;
}

main .bean .bean_comment a {
  font-size: 14px;
  margin-left: -14px;
  padding: 6px 25px 6px 25px;
  color: #4e4f50;
  border: 2px solid black;
  border-radius: 2px;
  background-color: transparent;
}

main .new_arriver {
  background-color: #fefefe;
}

main .new_arriver .container {
  display: flex;
  width: 1300px;
  flex-direction: row;
}
main .new_arriver .container .reward_logo {
  margin: 30px 0 0 -100px;
}
main .new_arriver .container .reward_logo img {
  width: 300px;
}

main .new_arriver .container .texts {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 -30px;
}
main .new_arriver .container .texts span:first-child {
  color: #231916;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 0 0 50px 0;
}
main .new_arriver .container .texts .sub_rewards {
  font-size: 28px;
  color: #473e3b;
  letter-spacing: -3px;
  margin: 0 0 18px -10px;
  width: 500px;
  line-height: 35px;
}
main .new_arriver .container .texts a {
  font-size: 13.5px;
  padding: 8px 25px 8px 25px;
  margin: 30px 500px 0 -15px;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
}

main .new_arriver .container .reward_coffee {
  margin: 40px 0 0 60px;
  position: relative;
}
main .new_arriver .container .reward_coffee img {
  width: 400px;
  height: 350px;
}
main .location {
  background-color: #eaeaea;
}

main > .location > .container {
  display: flex;
}
main > .location > .container > .circle > img:first-child {
  position: absolute;
  z-index: 3;
  top: 180px;
  left: 320px;
}
main > .location > .container > .circle > img:last-child {
  margin: 0 0 0 80px;
}

main > .location > .container > .background_icon_line > img:nth-child(2),
main > .location > .container > .background_icon_line > img:nth-child(3) {
  margin: 10px 0 10px 220px;
}

main > .location > .container > .background_icon_line > a {
  display: block;
  margin: 10px 0 0 260px;
  color: black;
  border: 2px solid black;
  width: 100px;
  padding: 5px 20px 5px 25px;
  border-radius: 3px;
}

main > .location > .container > .background_icon_line > img:last-child {
  margin: 20px 0 0 520px;
}

footer {
  background-color: #2c2a29;
  color: white;
  width: 100%;
}
footer > .container {
  width: 1200px;
}

footer a:hover {
  text-decoration: underline;
}

footer > .container > .footer_menu,
footer > .container > .low ul,
footer > .container > .company_info > ul {
  display: flex;
}

footer .container .footer_menu ul {
  border: 1px solid black;
}
footer .container .footer_menu ul li {
  font-size: 13px;
  letter-spacing: -0.5px;
}
footer .container .footer_menu ul li:first-child {
  font-size: 15px;
  margin-bottom: 10px;
}

footer > .container > .footer_menu > ul > li {
  margin-bottom: 5px;
}

footer .footer_prize {
  background-color: #282828;
  text-align: center;
}

footer > .footer_prize img {
  margin: 10px 30px 40px 0;
}

footer > .container > .low > ul {
  padding: 0 4% 0 4%;
}

footer > .container > .low > ul > li {
  padding: 0 15px 0 15px;
  margin: 40px 0 15px 0;
  border-right: 1px solid #393939;
}
footer > .container > .low > ul > li:last-child {
  border-right: none;
}

footer > .container > .total_btn {
  text-align: center;
}

footer > .container > .total_btn > ul > li {
  display: inline-block;
  color: white;
  border: 3px solid white;
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
footer > .container > .total_btn > ul > li > a {
  padding: 10px 35px 10px 35px;
  font: bold;
}
footer > .container > .total_btn > ul > li > a:last-child {
  padding: 10px 55px 10px 55px;
}
footer > .container > .company_info > ul {
  padding-left: 14%;
  padding-right: 14%;
}
footer > .container > .company_info > ul > li {
  margin: 10px 10px 10px 10px;
}

footer > .container > .mark {
  text-align: center;
  padding-bottom: 100px;
}

footer .container:first-child {
  position: relative;
}
footer .container .decoration {
  float: right;
}
