@charset "UTF-8";

header {
  height: 93px;
}

header a img {
  float: left;
}

header .container .submenu ul li {
  border: none;
}
header .container .submenu {
  top: -15px;
  right: 16px;
}

header .container .submenu ul li:nth-child(2),
header .container .submenu ul li:nth-child(3),
header .container .submenu ul li:nth-child(5) {
  display: none;
}

header .container .submenu ul li:first-child a::before {
  content: "\e9f3";
  font-size: 40px;
  font-family: "xeicon";
  color: #55443a;
  display: block;
}
header .container .submenu ul li:nth-child(4) a::before {
  content: "\eb59";
  font-size: 40px;
  font-family: "xeicon";
  color: #55443a;
  display: block;
}
header .container .submenu ul li:nth-child(6) a::before {
  content: "\e91c";
  font-size: 40px;
  font-family: "xeicon";
  color: #55443a;
  display: block;
}
header .container .submenu ul li a span : :hover {
  text-decoration: none;
}

header .submenu ul li a {
  font-size: 0;
}

header .submenu ul li:last-child {
  display: block;
}
header .container .mainmenu {
  display: none;
}
